@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Header CSS */
.social_media > ul > li,
.contact > ul > li {
  list-style: none;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #ccab81;
}

.social_media > ul,
.contact > ul {
  display: flex;
  color: white;
}

.contact > ul > li,
.social_media > ul > li {
  padding: 10px;
  font-size: large;
  /* border-right: 1px solid white; */
}

.contact > ul {
  margin-right: 200px;
}

.social_media > ul {
  margin-left: 150px;
}

a:link {
  text-decoration: none;
}

.social_media > ul > li > a,
.contact > ul > li > a {
  color: white;
}

.social_media_footer > ul > li {
  list-style: none;
  padding: 10px;
  font-size: large;
}

.social_media_footer > ul > li > a {
  color: white;
}

.social_media_footer > ul {
  display: flex;
}
/*----------------------------------------------------------------------------------*/

/*Navbar css */
.navbar {
  /* margin: 6px; */
  display: flex;
  justify-content: space-around;
}

.navbar_items > ul {
  display: flex;
}

.navbar_items > ul > a > li {
  list-style: none;
  padding: 15px;
  font-size: 1.2em;
  border-right: 1px solid white;
  color: black;
}

.navbar_items > ul :hover {
  background-color: #ccab81;
  color: white;
}

/*-----------------------------------------------------------------------------------*/

/*Wallpaper image */
.wp_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/*----------------------------------------------------------------------------------*/

/*About us */
.about_us {
  text-align: center;
  margin: 30px;
}

/*-----------------------------------------------------------------------------------*/

.cards {
  display: flex;
  justify-content: space-evenly;
  margin: 50px;
}

.card_1 > a > i {
  color: #ccab81;
}

.card_1 > h2 {
  padding: 20px;
}

hr {
  width: 100px;
}

p {
  line-height: 2rem;
}

button {
  margin: 15px;
  background-color: #ccab81;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}

.best_selling_products {
  text-align: center;
  background-color: #6b5e5a;
}

/*--------------------------------------------------------------------*/
.best_products {
  height: 600px;
  margin: 0;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}

main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 8;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 5;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 400px;
  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: #90f1ef;
}

div.item:nth-of-type(2) {
  --offset: 2;
  background-color: #ff70a6;
}

div.item:nth-of-type(3) {
  --offset: 3;
  background-color: #ff9770;
}

div.item:nth-of-type(4) {
  --offset: 4;
  background-color: #ffd670;
}

div.item:nth-of-type(5) {
  --offset: 5;
  background-color: #e9ff70;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}

input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}

input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}

input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}

input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

/*----------------------------------------------------------------------*/

.best_selling_products > h1 {
  color: white;
}

.footer {
  background-color: #6b5e5a;
  text-align: center;
  padding: 50px;
}

.contact_head {
  text-align: center;
  margin-top: 40px;
}

/*----------------------------------------------------------------------------------*/

.card > img {
  height: 300px;
  width: 300px;
}

.product_items {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product_head {
  text-align: center;
  margin: 40px;
}

.card > img {
  height: 250px;
  width: 250px;
  padding: 10px;
}

/*----------------------------------------------------------------------------------*/

.i1 {
  height: 400px;
  width: 300px;
}

/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.container {
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* min-height: 100vh; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: "";
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #3e2093;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.container .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #3e2093;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #f0f1f8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #3e2093;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .container {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .container .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .container {
    margin: 40px 0;
    height: 100%;
  }

  .container .content {
    flex-direction: column-reverse;
  }

  .container .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .container .content .left-side::before {
    display: none;
  }

  .container .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

html {
  height: 100%;
}

/* product dropdown  */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  font-size: 1.2em;
  padding: 14px 16px;
  background-color: white;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: #ccab81;
  /* color: black */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #fff;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ccab81;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  background-color: white;
  color: black;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_sub {
  margin-left: 50px;
  font-family: "Great Vibes", cursive;
  font-family: "Pacifico", cursive;
}

.card > img {
  transition: transform 0.2s;
}
.card > img:hover {
  transform: scale(1.5);
}

.logo_main {
  margin-left: 100px;
  color: #e6b800;
}

.logo_sub {
  margin-left: 200px;
  color: #e6b800;
}

.startup_img > img {
  height: 100px;
  width: 100px;
  margin: 10px;
}

.bg_w {
  background-color: white;
}

input[type=checkbox]{
  display: none;
 } 
 /*HAMBURGER MENU*/
 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

/* responsive */
@media only screen and (max-width: 960px) {
  .header {
    display: flex;

    background-color: #ccab81;
    flex-direction: column;
  }
  .social_media > ul {
    margin: 1px;
    display: flex;
    justify-content: center;
  }

  .contact > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1px;
}

.navbar_items > ul {
  /* display: table; */
  /* width: fit-content; */
  /* height: fit-content; */
  display: flex;
  flex-direction: column;
  padding-left: 140px;
}

.cards {
  display: flex;
  /* justify-content: space-evenly; */
  /* margin: 50px; */
  flex-direction: column;
}

.card_1 > a > i {
  color: #ccab81;
  padding-top: 27px;
}

.navbar_items{
  display:none;
 position: absolute;
 background-color:#ccab81;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
}

input[type=checkbox]:checked ~ .navbar_items{
  display: block;
 }

 .navbar_items li:hover {
  display: inline-block;
  background-color: #ccab81;
  transition: 0.3s ease;
 }
 .navbar_items li + li {
  margin-top: 12px;
 }
 .hamburger {
  display: block;
 }

 .product_items {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-basis: fit-content; */
  flex-direction: column;
}
}
