<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aldrop</title>
    <link href="/style.css" rel="stylesheet">
</head>

<body>
    <h1 class="product_head">Aldrop</h1>
    <div class="product_items">
        <div class="card">
            <img src="/Image/Img4.jpg" ">
        </div>
        <div class="card">
            <img src="/Image/Img5.jpg" >
        </div>
        <div class="card">
            <img src="/Image/Img6.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img7.jpg">
        </div>

    </div>

    <div class="product_items">
        <div class="card">
            <img src="/Image/Img8.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img17.jpg">
        </div>


    </div>





</body>

</html>