<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hinges</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <h1 class="product_head">Hinges</h1>
    <div class="product_items">
        <div class="card">
            <img src="/Image/Img49.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img50.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img51.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img52.jpg">
        </div>

    </div>

    <div class="product_items">
        <div class="card">
            <img src="/Image/Img53.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img54.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img55.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img56.jpg">
        </div>

    </div>

    <div class="product_items">
        <div class="card">
            <img src="/Image/Img57.jpg">
        </div>
       
        
        

    </div>
    
</body>
</html>