<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mortice Lock</title>
    <link href="/style.css" rel="stylesheet">
</head>
<body>
    <h1 class="product_head">Mortice Lock</h1>
    <div class="product_items">
        <div class="card">
            <img src="/Image/Img62.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img64.jpg">
        </div>
        <div class="card">
            <img src="/Image/Img66.jpg">
        </div>
        

    </div>

    <div class="product_items">
        <div class="card">
            <img src="/Image/Img88.png">
        </div>
        <div class="card">
            <img src="/Image/Img89.png">
        </div>
        <div class="card">
            <img src="/Image/Img90.png">
        </div>
        

    </div>

    <div class="product_items">
        <div class="card">
            <img src="/Image/Img91.png">
        </div>
        <div class="card">
            <img src="/Image/Img92.png">
        </div>
        <div class="card">
            <img src="/Image/Img93.png">
        </div>
        

    </div>

    <div class="product_items">
        <div class="card">
            <img src="/Image/Img94.png">
        </div>
        <div class="card">
            <img src="/Image/Img95.png">
        </div>
        <div class="card">
            <img src="/Image/Img96.png">
        </div>
        
        

    </div>

    <div class="product_items">
        <div class="card">
            <img src="/Image/Img97.png">
        </div>
        <div class="card">
            <img src="/Image/Img98.png">
        </div>
        <div class="card">
            <img src="/Image/Img99.png">
        </div>
        
        

    </div>

    <div class="product_items">
        <div class="card">
            <img src="/Image/Img100.png">
        </div>
        
        
        

    </div>

    

    
</body>
</html>